@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    /* overflow-x: hidden; */
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

a, li, button {
    cursor: pointer;
}